<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.onelive.common.mybatis.mapper.master.pay.PayExchangeRateCfgMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.onelive.common.mybatis.entity.PayExchangeRateCfg">
        <id column="exchange_rate_cfg_id" property="exchangeRateCfgId" />
        <result column="currency_code" property="currencyCode" />
        <result column="tx_floating_value" property="txFloatingValue" />
        <result column="cz_floating_value" property="czFloatingValue" />
        <result column="create_user" property="createUser" />
        <result column="update_user" property="updateUser" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="is_delete" property="isDelete" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        exchange_rate_cfg_id, currency_code, tx_floating_value, cz_floating_value, create_user, update_user, create_time, update_time, is_delete
    </sql>

</mapper>
