<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.onelive.common.mybatis.mapper.master.pay.PayShortcutOptionsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.onelive.common.mybatis.entity.PayShortcutOptions">
        <id column="shortcut_options_id" property="shortcutOptionsId"/>
        <result column="pay_way_id" property="payWayId"/>
        <result column="is_enable" property="isEnable"/>
        <result column="is_delete" property="isDelete"/>
        <result column="shortcut_options_content" property="shortcutOptionsContent"/>
        <result column="create_user" property="createUser"/>
        <result column="update_user" property="updateUser"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        shortcut_options_id
        , pay_way_id,is_enable,shortcut_options_content, is_delete,create_user, update_user, create_time, update_time
    </sql>

</mapper>
