<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.onelive.common.mybatis.mapper.slave.pay.SlavePayFindExchangeCfgMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.onelive.common.mybatis.entity.PayFindExchangeCfg">
        <id column="exchange_key_id" property="exchangeKeyId" />
        <result column="exchange_url_code" property="exchangeUrlCode" />
        <result column="exchange_url" property="exchangeUrl" />
        <result column="exchange_key" property="exchangeKey" />
        <result column="frequency" property="frequency" />
        <result column="create_user" property="createUser" />
        <result column="update_user" property="updateUser" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="is_delete" property="isDelete" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        exchange_key_id, exchange_url_code, exchange_url, exchange_key, frequency, create_user, update_user, create_time, update_time, is_delete
    </sql>

</mapper>
