<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.onelive.common.mybatis.mapper.master.operate.OperateActivityConfigLangMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.onelive.common.mybatis.entity.OperateActivityConfigLang">
        <id column="id" property="id" />
        <result column="activity_id" property="activityId" />
        <result column="lang" property="lang" />
        <result column="activity_title" property="activityTitle" />
        <result column="activity_content" property="activityContent" />
        <result column="create_time" property="createTime" />
        <result column="create_user" property="createUser" />
        <result column="update_time" property="updateTime" />
        <result column="update_user" property="updateUser" />
        <result column="merchant_code" property="merchantCode" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, activity_id, lang, activity_title, activity_content, create_time, create_user, update_time, update_user, merchant_code
    </sql>

</mapper>
