<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.onelive.common.mybatis.mapper.master.sys.SysAdvFlashviewLangMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.onelive.common.mybatis.entity.SysAdvFlashviewLang">
        <id column="id" property="id" />
        <result column="flashview_id" property="flashviewId" />
        <result column="lang" property="lang" />
        <result column="skip_model" property="skipModel" />
        <result column="skip_url" property="skipUrl" />
        <result column="create_time" property="createTime" />
        <result column="create_user" property="createUser" />
        <result column="update_time" property="updateTime" />
        <result column="update_user" property="updateUser" />
        <result column="merchant_code" property="merchantCode" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, flashview_id, lang, skip_model, skip_url, create_time, create_user, update_time, update_user, merchant_code
    </sql>

</mapper>
