<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.onelive.common.mybatis.mapper.master.sys.SysAdvFlashviewMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.onelive.common.mybatis.entity.SysAdvFlashview">
        <id column="id" property="id" />
        <result column="area_id" property="areaId" />
        <result column="flashview_name" property="flashviewName" />
        <result column="start_date" property="startDate" />
        <result column="end_date" property="endDate" />
        <result column="country_code" property="countryCode" />
        <result column="country_name" property="countryName" />
        <result column="img_url" property="imgUrl" />
        <result column="skip_model" property="skipModel" />
        <result column="skip_url" property="skipUrl" />
        <result column="is_frozen" property="isFrozen" />
        <result column="lang" property="lang" />
        <result column="is_delete" property="isDelete" />
        <result column="create_time" property="createTime" />
        <result column="create_user" property="createUser" />
        <result column="update_user" property="updateUser" />
        <result column="update_time" property="updateTime" />
        <result column="merchant_code" property="merchantCode" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, area_id, flashview_name, start_date, end_date, country_code,country_name, img_url, skip_model, skip_url, is_frozen, lang, is_delete, create_time, create_user, update_user, update_time, merchant_code
    </sql>

</mapper>
