<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.onelive.common.mybatis.mapper.master.lottery.LotteryBetRestrictMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.onelive.common.mybatis.entity.LotteryBetRestrict">
        <id column="id" property="id" />
        <result column="lottery_id" property="lotteryId" />
        <result column="play_tag_id" property="playTagId" />
        <result column="max_money" property="maxMoney" />
        <result column="crate_time" property="crateTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, lottery_id, play_tag_id, max_money, crate_time, update_time
    </sql>

</mapper>
