<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.onelive.common.mybatis.mapper.master.lottery.LotteryOrderRecordMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.onelive.common.mybatis.entity.LotteryOrderRecord">
        <id column="id" property="id" />
        <result column="order_sn" property="orderSn" />
        <result column="issue" property="issue" />
        <result column="user_id" property="userId" />
        <result column="lottery_id" property="lotteryId" />
        <result column="append_id" property="appendId" />
        <result column="open_number" property="openNumber" />
        <result column="source" property="source" />
        <result column="buy_source" property="buySource" />
        <result column="status" property="status" />
        <result column="is_delete" property="isDelete" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="country_id" property="countryId" />


    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, order_sn, issue, user_id, lottery_id, append_id, open_number, source, buy_source, status, is_delete, create_time, update_time,country_id
    </sql>

</mapper>
