<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.onelive.common.mybatis.mapper.master.lottery.LotteryMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.onelive.common.mybatis.entity.Lottery">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="icon" property="icon" />
        <result column="category_id" property="categoryId" />
        <result column="parent_id" property="parentId" />
        <result column="startlotto_table" property="startlottoTable" />
        <result column="startlotto_times" property="startlottoTimes" />
        <result column="clearing_tag" property="clearingTag" />
        <result column="cache_tag" property="cacheTag" />
        <result column="max_odds" property="maxOdds" />
        <result column="min_odds" property="minOdds" />
        <result column="sort" property="sort" />
        <result column="push_source" property="pushSource" />
        <result column="push_status" property="pushStatus" />
        <result column="video_url" property="videoUrl" />
        <result column="video_start" property="videoStart" />
        <result column="is_work" property="isWork" />
        <result column="is_delete" property="isDelete" />
        <result column="lottery_id" property="lotteryId" />
        <result column="end_time" property="endTime" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, icon, category_id, parent_id, startlotto_table, startlotto_times, clearing_tag, cache_tag, max_odds, min_odds, sort, push_source, push_status, video_url, video_start, is_work, is_delete, lottery_id, end_time, create_time, update_time
    </sql>

</mapper>
