<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.onelive.common.mybatis.mapper.master.lottery.LotteryLhcHandicapMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.onelive.common.mybatis.entity.LotteryLhcHandicap">
        <id column="id" property="id" />
        <result column="issue" property="issue" />
        <result column="startlotto_time" property="startlottoTime" />
        <result column="start_time" property="startTime" />
        <result column="end_time" property="endTime" />
        <result column="automation" property="automation" />
        <result column="is_delete" property="isDelete" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, issue, startlotto_time, start_time, end_time, automation, is_delete, create_time, update_time
    </sql>

</mapper>
