<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.onelive.common.mybatis.mapper.master.platform.LiveGiftMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.onelive.common.mybatis.entity.LiveGift">
        <id column="gift_id" property="giftId" />
        <result column="use_country" property="useCountry" />
        <result column="price" property="price" />
        <result column="font_color" property="fontColor" />
        <result column="dynamic_image" property="dynamicImage" />
        <result column="image_url" property="imageUrl" />
        <result column="is_dynamic" property="isDynamic" />
        <result column="dynamic_show_type" property="dynamicShowType" />
        <result column="is_divide_anchor" property="isDivideAnchor" />
        <result column="gift_type" property="giftType" />
        <result column="is_barrage" property="isBarrage" />
        <result column="stay_time" property="stayTime" />
        <result column="is_relate_toy" property="isRelateToy" />
        <result column="frequency_vibration" property="frequencyVibration" />
        <result column="vibration_time" property="vibrationTime" />
        <result column="sort_num" property="sortNum" />
        <result column="updated_by" property="updatedBy" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="created_by" property="createdBy" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        gift_id, use_country, price, font_color, dynamic_image, image_url, is_dynamic, dynamic_show_type, is_divide_anchor, gift_type, is_barrage, stay_time, is_relate_toy, frequency_vibration, vibration_time, sort_num, updated_by, create_time, update_time, created_by
    </sql>

</mapper>
