<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.onelive.common.mybatis.mapper.master.agent.AgentInviteCodeUsageRecordMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.onelive.common.mybatis.entity.AgentInviteCodeUsageRecord">
        <id column="id" property="id" />
        <result column="invite_code" property="inviteCode" />
        <result column="code_user_id" property="codeUserId" />
        <result column="used_user_id" property="usedUserId" />
        <result column="merchant_code" property="merchantCode" />
        <result column="type" property="type" />
        <result column="source" property="source" />
        <result column="device" property="device" />
        <result column="ip" property="ip" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, invite_code, code_user_id, used_user_id, merchant_code, type, source, device, ip, create_time
    </sql>

</mapper>
