<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.onelive.common.mybatis.mapper.master.agent.AgentForbiddenProfitMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.onelive.common.mybatis.entity.AgentForbiddenProfit">
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="user_account" property="userAccount" />
        <result column="is_delete" property="isDelete" />
        <result column="remark" property="remark" />
        <result column="merchant_code" property="merchantCode" />
        <result column="regist_time" property="registTime" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, user_id, user_account, is_delete, remark, merchant_code, regist_time, create_time
    </sql>

</mapper>
