<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.onelive.common.mybatis.mapper.master.sms.SeeSmsTemplateMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.onelive.common.mybatis.entity.SeeSmsTemplate">
        <id column="id" property="id" />
        <result column="templateContent" property="templateContent" />
        <result column="templateCode" property="templateCode" />
        <result column="sortNum" property="sortNum" />
        <result column="isOpen" property="isOpen" />
        <result column="isDelete" property="isDelete" />
        <result column="create_user" property="createUser" />
        <result column="update_user" property="updateUser" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, templateContent, templateCode, sortNum, isOpen, isDelete, create_user, update_user, create_time, update_time
    </sql>

</mapper>
