<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.onelive.common.mybatis.mapper.master.mem.MemBankAccountMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.onelive.common.mybatis.entity.MemBankAccount">
        <id column="bank_accid" property="bankAccid"/>
        <result column="account" property="account"/>
        <result column="bank_address" property="bankAddress"/>
        <result column="bank_account_name" property="bankAccountName"/>
        <result column="bank_account_no" property="bankAccountNo"/>
        <result column="bank_code" property="bankCode"/>
        <result column="is_delete" property="isDelete"/>
        <result column="create_user" property="createUser"/>
        <result column="update_user" property="updateUser"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>
    <resultMap id="listResultMap" type="com.onelive.common.model.vo.mem.MemBankAccountVO">
        <id column="bank_accid" property="bankAccid"/>
        <result column="bank_address" property="bankAddress"/>
        <result column="bank_account_name" property="bankAccountName"/>
        <result column="bank_account_no" property="bankAccountNo"/>
        <result column="bank_code" property="bankCode"/>
        <result column="create_time" property="createTime"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        bank_accid
        , account, bank_address, bank_account_name, bank_account_no, bank_code, is_delete, create_user, update_user, create_time, update_time
    </sql>

    <update id="deleteByBankAccidAndAccount" >
        update mem_bank_account set is_delete =#{isDetele} where bank_accid=#{bankAccid} and account =#{account}
    </update>


</mapper>
