<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.onelive.common.mybatis.mapper.slave.game.SlaveGameUserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.onelive.common.mybatis.entity.GameUser">
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="player_name" property="playerName" />
        <result column="accno" property="accno" />
        <result column="password" property="password" />
        <result column="salt" property="salt" />
        <result column="nick_name" property="nickName" />
        <result column="game_type" property="gameType" />
        <result column="merchant_code" property="merchantCode" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, user_id, player_name, accno, password, salt, nick_name, game_type, merchant_code, create_time, update_time
    </sql>

</mapper>
