<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.onelive.common.mybatis.mapper.slave.game.SlaveGameCategoryMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.onelive.common.mybatis.entity.GameCategory">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="category_id" property="categoryId" />
        <result column="platform_code" property="platformCode" />
        <result column="info_host" property="infoHost" />
        <result column="data_host" property="dataHost" />
        <result column="md5_key" property="md5Key" />
        <result column="aes_key" property="aesKey" />
        <result column="iv" property="iv" />
        <result column="is_work" property="isWork" />
        <result column="status" property="status" />
        <result column="is_delete" property="isDelete" />
        <result column="game_type" property="gameType" />
        <result column="sort" property="sort" />
        <result column="back_url" property="backUrl" />
        <result column="domain" property="domain" />
        <result column="merchant_code" property="merchantCode" />
        <result column="game_wallet" property="gameWallet" />
        <result column="create_time" property="createTime" />
        <result column="create_user" property="createUser" />
        <result column="update_time" property="updateTime" />
        <result column="update_user" property="updateUser" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, category_id, platform_code, info_host, data_host, md5_key, aes_key, iv, is_work, status, is_delete, game_type, sort, back_url, domain, merchant_code, game_wallet, create_time, create_user, update_time, update_user
    </sql>

</mapper>
