<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.onelive.common.mybatis.mapper.slave.game.SlaveGameTagMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.onelive.common.mybatis.entity.GameTag">
        <id column="id" property="id" />
        <result column="country_code" property="countryCode" />
        <result column="name" property="name" />
        <result column="code" property="code" />
        <result column="sort" property="sort" />
        <result column="icon_url" property="iconUrl" />
        <result column="is_delete" property="isDelete" />
        <result column="is_show" property="isShow" />
        <result column="merchant_code" property="merchantCode" />
        <result column="create_time" property="createTime" />
        <result column="create_user" property="createUser" />
        <result column="update_time" property="updateTime" />
        <result column="update_user" property="updateUser" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, country_code, name, code, sort, icon_url, is_delete, is_show, merchant_code, create_time, create_user, update_time, update_user
    </sql>

</mapper>
