<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.onelive.common.mybatis.mapper.slave.mem.SlaveMemUserMessageMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.onelive.common.mybatis.entity.MemUserMessage">
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="msg_id" property="msgId" />
        <result column="msg_type" property="msgType" />
        <result column="is_push" property="isPush" />
        <result column="is_read" property="isRead" />
        <result column="is_delete" property="isDelete" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, user_id, msg_id, msg_type, is_push, is_read, is_delete, create_time, update_time
    </sql>

</mapper>
