<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.onelive.common.mybatis.mapper.slave.mem.SlaveMemLoginRecordMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.onelive.common.mybatis.entity.MemLoginRecord">
        <id column="id" property="id"/>
        <result column="account" property="account"/>
        <result column="user_type" property="userType"/>
        <result column="ip" property="ip"/>
        <result column="area" property="area"/>
        <result column="login_source" property="loginSource"/>
        <result column="login_device" property="loginDevice"/>
        <result column="create_time" property="createTime"/>
        <result column="merchant_code" property="merchantCode"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id
        , account, user_type, ip, area, login_source, login_device, create_time,merchant_code
    </sql>

</mapper>
