<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.onelive.common.mybatis.mapper.slave.lottery.SlaveLotteryPlayOddsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.onelive.common.mybatis.entity.LotteryPlayOdds">
        <id column="id" property="id" />
        <result column="setting_id" property="settingId" />
        <result column="ex_setting_id" property="exSettingId" />
        <result column="name" property="name" />
        <result column="total_count" property="totalCount" />
        <result column="win_count" property="winCount" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="is_delete" property="isDelete" />
        <result column="easy_import_flag" property="easyImportFlag" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, setting_id, ex_setting_id, name, total_count, win_count, create_time, update_time, is_delete, easy_import_flag
    </sql>

</mapper>
