<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.onelive.common.mybatis.mapper.slave.lottery.SlaveLotteryCategoryMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.onelive.common.mybatis.entity.LotteryCategory">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="alias" property="alias" />
        <result column="level" property="level" />
        <result column="is_work" property="isWork" />
        <result column="is_delete" property="isDelete" />
        <result column="category_id" property="categoryId" />
        <result column="sort" property="sort" />
        <result column="type" property="type" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, alias, level, is_work, is_delete, category_id, sort, type, create_time, update_time
    </sql>

    <select id="listAllCategoryWithLang" resultMap="BaseResultMap">
        SELECT
            category.id,
            lang.name,
            lang.alias,
            category.`level`,
            category.is_work,
            category.category_id,
            category.sort,
            category.type,
            category.create_time,
            category.update_time
        FROM
            lottery_category category
                LEFT JOIN lottery_category_lang lang ON category.id = lang.category_id
        WHERE
            category.is_delete = 0 AND category.is_work = 1
          AND lang.lang = #{lang} AND lang.name != ''
        ORDER BY category.sort DESC
    </select>
</mapper>
