<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.onelive.common.mybatis.mapper.slave.lottery.SlaveLotteryTcplsLotterySgMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.onelive.common.mybatis.entity.LotteryTcplsLotterySg">
        <id column="id" property="id" />
        <result column="issue" property="issue" />
        <result column="date" property="date" />
        <result column="number" property="number" />
        <result column="cpk_number" property="cpkNumber" />
        <result column="kcw_number" property="kcwNumber" />
        <result column="time" property="time" />
        <result column="ideal_time" property="idealTime" />
        <result column="open_status" property="openStatus" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, issue, date, number, cpk_number, kcw_number, time, ideal_time, open_status
    </sql>

</mapper>
